<!-- Feel free to change the width and height to your desired video size. -->

<div class="embed-container">


  <iframe
    src="https://cdnapisec.kaltura.com/p/1921661/sp/192166100/embedIframeJs/uiconf_id/35919811/partner_id/1921661?iframeembed=true&playerId=kVPlayer_0_mdjdr8rn&entry_id={{ include.id }}&flashvars[streamerType]=auto"
    width="650" height="400" allowfullscreen webkitallowfullscreen mozAllowFullScreen
    allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0"></iframe>

</div>